<!-- ###WTCART_ORDERPDF### begin -->
<table border="1" cellpadding="3" cellspacing="0" width="100%">
    <tr style="font-weight: bold;">
        <td>###WTCART_LL_QTY###</td>
	    <td>###WTCART_LL_SKU###</td>
        <td>###WTCART_LL_TITLE###</td>
        <td>###WTCART_LL_PRICE###</td>
        <td>###WTCART_LL_PRICE_TOTAL###</td>
    </tr>
    <!-- ###CONTENT### -->
    <!-- ###ITEM### -->
    <tr>
        <td>###QTY###</td>
	    <td>###SKU###</td>
        <td>###TITLE###</td>
        <td align="right">###PRICE###</td>
        <td align="right">###PRICE_TOTAL###</td>
    </tr>
    <!-- ###ITEM### -->
    <!-- ###CONTENT### -->
    <tr>
        <td colspan="5">
            <table border="0" cellpadding="1" cellspacing="0" width="100%">
                <tr style="font-weight: bold;">
                    <td>&nbsp;</td>
                    <td colspan="2" align="left">###WTCART_LL_CART_NET###</td>
                    <td>&nbsp;</td>
                    <td align="right">###CART_NET_NO_SERVICE###</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>&nbsp;</td>
                    <td colspan="2" align="left">###WTCART_LL_SERVICE_COST###</td>
                    <td>&nbsp;</td>
                    <td align="right">###SERVICE_COST_NET###</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>&nbsp;</td>
                    <td colspan="2" align="left">###WTCART_LL_TAX###</td>
                    <td>&nbsp;</td>
                    <td align="right">&nbsp;</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>&nbsp;</td>
                    <td colspan="2" align="left">###TAXRATE_NORMAL_STRING###</td>
                    <td>&nbsp;</td>
                    <td align="right">###CART_TAX_NORMAL###</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>&nbsp;</td>
                    <td colspan="2" align="left">###TAXRATE_REDUCED_STRING###</td>
                    <td>&nbsp;</td>
                    <td align="right">###CART_TAX_REDUCED###</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>&nbsp;</td>
                    <td colspan="2" align="left">###WTCART_LL_GROSS_TOTAL###</td>
                    <td>&nbsp;</td>
                    <td align="right">###CART_GROSS###</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            ###WTCART_LL_SHIPPING###
        </td>
        <td colspan="3">
            ###SHIPPING_OPTION###
        </td>
    </tr>
    <tr>
        <td colspan="2">
            ###WTCART_LL_PAYMENT###
        </td>
        <td colspan="3">
            ###PAYMENT_OPTION###
        </td>
    </tr>
    <tr>
        <td colspan="2">
            ###WTCART_LL_SPECIAL###
        </td>
        <td colspan="3">
            ###SPECIAL_OPTION###
        </td>
    </tr>
</table>
<!-- ###WTCART_ORDERPDF### end --> 

<!-- ###WTCART_PACKINGLISTPDF### begin -->
<table border="1" cellpadding="3" cellspacing="0" width="100%">
    <tr style="font-weight: bold;">
        <td>###WTCART_LL_QTY###</td>
        <td>###WTCART_LL_SKU###</td>
        <td>###WTCART_LL_TITLE###</td>
    </tr>
    <!-- ###CONTENT### -->
    <!-- ###ITEM### -->
    <tr>
        <td>###QTY###</td>
        <td>###SKU###</td>
        <td>###TITLE###</td>
    </tr>
    <!-- ###ITEM### -->
    <!-- ###CONTENT### -->
</table>
<!-- ###WTCART_PACKINGLISTPDF### end --> 